.container-input{
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-top-components);
}
.input-label{
}
.input-text{
  border-radius: var(--border-radius-components);
  margin-top: var(--margin-top-input);
  padding: var(--padding-input);
  font-size: var(--text-size-input);
}